footer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid blue;
  bottom: 0;
  background-color: black;
}
.container {
  padding: 10px;
}
.container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}
