header {
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 1;
  border: 1px solid blue;
}
header .header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

header img {
  border: 1px solid blue;
  width: 30px;
  height: auto;
}
header .nav-main {
  position: relative;
  display: flex;
  border: 1px solid blue;
}
header .nav-main a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
/* RESPONSIVE RULES */
@media only screen and (max-width: 700px) {
  header .nav-main {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 4;
    right: 1rem;
    top: 5rem;
    width: 9rem;
    margin: 0;
    background-color: #fbf9e9;
    border: 1px solid #c3d0ef;
  }
  header .nav-main a {
    position: relative;
    right: 0;
    border: none;
    min-width: inherit;
    width: calc(100% - 2rem);
    padding: 1rem;
    margin-left: 0;
    border-bottom: 1px solid #c3d0ef;
    border-radius: 0;
    justify-content: flex-end;
  }
  header .nav-main a:last-child {
    border-bottom: none;
  }
  header .nav-mobile {
    display: flex;
  }
}
