header {
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 1;
  background-color: white;
}
header .header-wrapper {
  display: flex;
  width: 100%;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

header img {
  width: 30px;
  height: auto;
  cursor: pointer;
}
header .nav-main {
  position: relative;
  display: flex;
  width: 200px;
  justify-content: space-between;
}
header .nav-main a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

header .nav-main a:hover {
  color: violet;
}

/* RESPONSIVE RULES */
/* XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (max-width: 1400px) {
  header .nav-main {
    display: flex;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  header .nav-main {
    display: none;
  }
  header .header-wrapper {
    margin-top: 50px;
  }
  header img {
    width: 50px;
  }
}

/* Medium devices (tablets, 768px and up)  */
@media only screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  header {
    height: 8rem;
  }
  header img {
    width: 40px;
  }
}
