/*BIO SECTION*/
section img {
  width: 100%;
  margin-top: 50px;
}
.biography img {
  width: 100%;
  border-radius: 20px;
  margin-top: 50px;
}
/*BIO DESCRIPTION*/
.text-container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
.text-container h1 {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.text-container p {
  font-size: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
/*ANIMATED BARS*/
.animated-container {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid blue;
  margin-bottom: 50px;
  padding-top: 20px;
}
.animated-wrapper {
  position: relative;
  width: 100%;
  padding: 0 20px;
}
.animated-wrapper p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(135, 128, 171);
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.animated-bar {
  position: relative;
  animation-iteration-count: infinite;
  border: 1px solid rgb(198, 190, 238);
  border-radius: 16px;
  height: 20px;
}
.shadow-bar {
  position: relative;
  top: -22px;
  width: calc(100% - 40px);
  height: 20px;
  border-radius: 16px;
  border: 1px solid rgb(198, 190, 238);
}
.shadow-bar p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(135, 128, 171);
  margin-left: 5px;
  font-size: 10px;
  margin-top: 5px;
}

.animation-1 {
  animation-name: loading;
  animation-duration: 10s;
}
.animation-2 {
  animation-name: loading;
  animation-duration: 5s;
}
.animation-3 {
  animation-name: loading;
  animation-duration: 2s;
}

@keyframes loading {
  from {
    background-color: rgb(149, 235, 155);
    width: 0%;
  }
  to {
    background-color: rgb(198, 190, 238);
    width: calc(100% - 40px);
  }
}
/*FORM SECTION*/

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  margin-bottom: 200px;
}
.form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.form__group h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.form__label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.form_button_container {
  display: flex;
}
.form_button_container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
